api_key:
  access_key: "YOUR_API_ACCESS_KEY"
  secret_key: "YOUR_API_SECRET_KEY"

database:
  host: "INSTANCE_PRIVATE_IP"
  database: "postgres"
  user: "coinbot"
  password: "PASSWORD"
  port: 5432

kafka:
  broker:
    host: "INSTANCE_PRIVATE_IP"